.btn{
    margin-right: 15px;
    border-radius: 10px;
    padding: 7px; 
    color: darkblue;     
    font-size: 18px;
    background-color: #f352b5;
    cursor: pointer;
    .btn:hover{
        background-color: #58fab9;
    }
    .btn.active{
        background-color: #9674d4;
        font-size: 22px;
    }
    .btn:disabled{
        cursor: not-allowed;
    }
}

